.menu-ln-container {
  height: 40px;
  line-height: 40px;
  position: relative;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.menu-ln-right {
  float: right;
  height: 100%;
  margin-right: 12px;
}

.menu-ln-right .action-base {
  cursor: pointer;
  padding: 0 12px;
  display: inline-block;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  height: 100%;
  position: relative;
}

.menu-ln-right .action-base:hover {
  background: #e6f7ff;
}

.menu-ln-right .header-personal-image {
  margin: 8px 8px 8px 0;
  color: #1890ff;
  background: rgba(255, 255, 255, 0.85);
  vertical-align: middle;
  float: left;
}

.menu-ln-right .header-personal-image img {
  width: 100%;
  height: 100%;
  display: block;
}

.menu-ln-right .header-personal-image-sm {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  display: block;
}

